@model DoAn.Models.NhanVien

@{ 

    Layout = "~/Views/Shared/_Admin.cshtml";
}


<body>
        <div class="main-body">
            <h2>Dashboard</h2>
            <div class="promo_card">
                <h1>ADMIN HOME</h1>
            </div>

            <div class="history_lists">
                <div class="list1">
                    <div class="row">
                        <h4>History</h4>
                        <a href="#">See all</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Dates</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Ammount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2, Aug, 2022</td>
                                <td>Sam Tonny</td>
                                <td>Premimum</td>
                                <td>$2000.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>29, July, 2022</td>

                                <td>Code Info</td>
                                <td>Silver</td>
                                <td>$5,000.00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>15, July, 2022</td>

                                <td>Jhon David</td>
                                <td>Startup</td>
                                <td>$3000.00</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>5, July, 2022</td>
                                <td>Salina Gomiz</td>
                                <td>Premimum</td>
                                <td>$7000.00</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>29, June, 2022</td>
                                <td>Gomiz</td>
                                <td>Gold</td>
                                <td>$4000.00</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>28, June, 2022</td>
                                <td>Elyana Jhon</td>
                                <td>Premimum</td>
                                <td>$2000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                
            </div>
        </div>

</body>
