<a class="nav-link" style="background: transparent" href="@Url.Action("GioHang",
"GioHang")">
    <i class="fa fa-shopping-cart"
       aria-hidden="true"></i>
    Giỏ hàng (@ViewBag.Tongsoluongsanpham)
</a>