
@{
    ViewBag.Title = "PaymentConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PaymentConfirm</h2>

<body class="main-layout inner_page">
    <p style="color:red">@ViewBag.Message</p>
</body>
