USE [master]
GO
/****** Object:  Database [RiceStore]    Script Date: 04/04/2023 11:20:50 am ******/
CREATE DATABASE [RiceStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RiceStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RiceStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RiceStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RiceStore_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RiceStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RiceStore]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 04/04/2023 11:20:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[price] [int] NULL,
	[num] [int] NULL,
	[total_money] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 04/04/2023 11:20:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 04/04/2023 11:20:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[KH_id] [int] NULL,
	[fullname] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone_number] [varchar](20) NULL,
	[address] [nvarchar](200) NULL,
	[note] [nvarchar](1000) NULL,
	[order_date] [datetime] NULL,
	[status] [int] NULL,
	[total_money] [int] NULL,
 CONSTRAINT [PK__DonHang__3213E83F7C4CA59C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 04/04/2023 11:20:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](30) NULL,
	[phone_number] [varchar](20) NULL,
	[email] [varchar](50) NULL,
	[note] [varchar](1000) NULL,
 CONSTRAINT [PK__FeedBack__3213E83FEC633A26] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 04/04/2023 11:20:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone_number] [varchar](20) NULL,
	[address] [nvarchar](200) NULL,
	[password] [varchar](200) NULL,
	[role_id] [int] NULL,
 CONSTRAINT [PK__KhachHan__3213E83FBEDBC4F7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 04/04/2023 11:20:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[id] [int] NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone_number] [varchar](20) NULL,
	[address] [nvarchar](200) NULL,
	[password] [varchar](200) NULL,
	[role_id] [int] NULL,
 CONSTRAINT [PK__NhanVien__3213E83FB7623737] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 04/04/2023 11:20:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[id] [int] NOT NULL,
	[name] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 04/04/2023 11:20:50 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DM_id] [int] NULL,
	[title] [nvarchar](250) NULL,
	[price] [int] NULL,
	[thumbnail] [nvarchar](500) NULL,
	[quantity] [int] NULL,
	[description] [nvarchar](1000) NULL,
 CONSTRAINT [PK__SanPham__3213E83F96F94E9E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DanhMuc] ([id], [name]) VALUES (1, N'Gạo dinh dưỡng  ')
INSERT [dbo].[DanhMuc] ([id], [name]) VALUES (2, N'Gạo đóng túi')
INSERT [dbo].[DanhMuc] ([id], [name]) VALUES (3, N'Gạo phổ thông')
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([id], [fullname], [email], [phone_number], [address], [password], [role_id]) VALUES (27, N'Lưu Khả Ái', N'ailuu@gmail.com', N'0975345120', N'520 Điện Biên Phủ, Bình Thạnh', N'58ac9be60d1d45b253786e347d5a54bfce11c1f5f7a2fdf8cea84260ee0b0613', 2)
INSERT [dbo].[KhachHang] ([id], [fullname], [email], [phone_number], [address], [password], [role_id]) VALUES (28, N'Trần Hoàng Khải', N'Khaith@gmail.com', N'0124446789', N'233 Lê Hồng Phong, Quận 10', N'58ac9be60d1d45b253786e347d5a54bfce11c1f5f7a2fdf8cea84260ee0b0613', 2)
INSERT [dbo].[KhachHang] ([id], [fullname], [email], [phone_number], [address], [password], [role_id]) VALUES (29, N'Nguyễn Quốc Trung', N'Trungnq@gmail.com', N'0986572124', N'517 Kha Vạn Cân, Thành Phố Thủ Đức', N'58ac9be60d1d45b253786e347d5a54bfce11c1f5f7a2fdf8cea84260ee0b0613', 2)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[NhanVien] ([id], [fullname], [email], [phone_number], [address], [password], [role_id]) VALUES (0, N'dt', N'admin5@gmail.com', N'0345349184', N'Phường Long Thạnh Mỹ, Quận 9, TP Thủ Đức', N'58ac9be60d1d45b253786e347d5a54bfce11c1f5f7a2fdf8cea84260ee0b0613', 1)
INSERT [dbo].[NhanVien] ([id], [fullname], [email], [phone_number], [address], [password], [role_id]) VALUES (1, N'Triều', N'admin1@gmail.com', N'0123412386', NULL, N'58ac9be60d1d45b253786e347d5a54bfce11c1f5f7a2fdf8cea84260ee0b0613', 1)
INSERT [dbo].[NhanVien] ([id], [fullname], [email], [phone_number], [address], [password], [role_id]) VALUES (2, N'Thạch', N'admin2@gmail.com', N'0984672813', NULL, N'58ac9be60d1d45b253786e347d5a54bfce11c1f5f7a2fdf8cea84260ee0b0613', 3)
GO
INSERT [dbo].[PhanQuyen] ([id], [name]) VALUES (1, N'Admin')
INSERT [dbo].[PhanQuyen] ([id], [name]) VALUES (2, N'KH')
INSERT [dbo].[PhanQuyen] ([id], [name]) VALUES (3, N'NhanVien')
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([id], [DM_id], [title], [price], [thumbnail], [quantity], [description]) VALUES (1, 1, N'Hạt Ngọc Trời Bạch Dương', 112000, N'/Content/images/Gao/gao1.jpg', 99, N'Gạo khi nấu cho cơm trắng dẻo, thơm dịu và ngọt nhẹ. Gạo Hạt Ngọc Trời Bạch Dương túi 5kg của  gạo Hạt Ngọc Trời với hạt gạo dẻo vừa và thơm lài, được nuôi trồng canh tác theo quy trình kĩ thuật hiện đại, đảm bảo an toàn và chất lượng cho người sử dụng. Mang đến bữa cơm ngon cho gia đình bạn.')
INSERT [dbo].[SanPham] ([id], [DM_id], [title], [price], [thumbnail], [quantity], [description]) VALUES (2, 2, N'Vua Gạo Đậm Đà', 119000, N'/Content/images/Gao/gao2.jpg', 74, N'Gạo từ thương hiệu gạo Vua Gạo đậm đà sử dụng giống gạo từ Campuchia, cho hạt gạo dài, đều, đẹp mắt. Gạo hạt dài, dẻo vừa, thơm lừng, trắng đều. Gạo thơm Vua Gạo Đậm Đà túi 5kg được canh tác trên vùng đất phù sa màu mỡ, mỗi năm chỉ có thu hoạch 1 vụ lúa nên đảm bảo chất lượng gạo sạch.')
INSERT [dbo].[SanPham] ([id], [DM_id], [title], [price], [thumbnail], [quantity], [description]) VALUES (3, 2, N'Hạt Ngọc Trời Thiên Vương', 195500, N'/Content/images/Gao/gao3.jpg', 96, N'Gạo khi nấu vị dẻo, vị thơm đặc trưng sẽ kích thích vị giác giúp thưởng thức các món ăn khác tuyệt vời hơn..Gạo thơm Hạt Ngọc Trời Thiên Vương túi 5kg với hạt dài, thơm đặc trưng và nở ít tạo giác ăn ngon miệng,  đảm bảo an toàn, không tẩy trắng, không chứa chất bảo quản.')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([order_id])
REFERENCES [dbo].[DonHang] ([id])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_SanPham] FOREIGN KEY([product_id])
REFERENCES [dbo].[SanPham] ([id])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_SanPham]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([KH_id])
REFERENCES [dbo].[KhachHang] ([id])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_PhanQuyen] FOREIGN KEY([role_id])
REFERENCES [dbo].[PhanQuyen] ([id])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_PhanQuyen]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_PhanQuyen] FOREIGN KEY([role_id])
REFERENCES [dbo].[PhanQuyen] ([id])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_PhanQuyen]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([DM_id])
REFERENCES [dbo].[DanhMuc] ([id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
USE [master]
GO
