<!DOCTYPE html>
<html lang="en">
<!-- body -->
<body class="main-layout inner_page">
    
        <!-- loader  -->
        <!-- end loader -->
        <!-- header -->
        <!-- end header inner -->
        <!-- about -->
        <div class="about">
            <div class="container">
                <div class="row d_flex grid">
                    <div class="col-md-6">
                        <div class="about_img text_align_center">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.633108015194!2d106.83323501471895!3d10.839363942278828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175218a84a88243%3A0xe6bd24c6a8e9507c!2sVinHomes%20Qu%E1%BA%ADn%209!5e0!3m2!1svi!2s!4v1680068609854!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-md-6 order1">
                        <div class="titlepage text_align_left">
                            <h2>Giới thiệu về cửa hàng</h2>
                            <p>
                                Cửa hàng chúng tôi chuyên cung cấp các sản phẩm gạo chất lượng cao với nhiều loại hạt khác nhau để đáp ứng nhu cầu của khách hàng.
                                Tất cả các loại gạo của chúng tôi đều được lựa chọn kỹ lưỡng từ các trang trại nông nghiệp bền vững,
                                đảm bảo sử dụng phương pháp trồng trọt tự nhiên và không sử dụng chất bảo quản hay hóa chất độc hại.
                            </p>
                            <a class="read_more" href="/Home/About">Xem Thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end about -->
        <!--  footer -->
        <!-- end footer -->
        <!-- Javascript files-->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery-3.0.0.min.js"></script>
        <!-- sidebar -->
        <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/custom.js"></script>
</body>
</html>