<!DOCTYPE html>
<html lang="en">
<!-- body -->
<body class="main-layout">
    
    <!-- top -->
    <div class="full_bg">
        <div class="slider_main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- carousel code -->
                        <div id="carouselExampleIndicators" class="carousel slide">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <!-- first slide -->
                                <div class="carousel-item active">
                                    <div class="carousel-caption relative">
                                        <div class="row d_flex">
                                            <div class="col-md-5" style="font-size: 40px">
                                                <div class="Ricie_text">
                                                    <h1 data-animation="animated bounceInLeft">
                                                        Loại gạo <br /> đa dạng
                                                    </h1>
                                                    <p data-animation="animated bounceInLeft">
                                                        Cửa hàng chúng tôi cung cấp hầu hết các loại sản phẩm mà người dùng cần
                                                    </p>
                                                    <button class="btn btn-primary  read_more bounceInLeft" data-animation="animated bounceInLeft">Read More</button>
                                                    <button class="btn btn-primary  read_more bounceInLeft" data-animation="animated bounceInLeft">Get A Quote</button>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="coff_img">
                                                    <figure><img src="~/Content/images/Trang_Tri1/1.png" width="400" alt="#" /></figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- second slide -->
                                <div class="carousel-item">
                                    <div class="carousel-caption relative">
                                        <div class="row d_flex">
                                            <div class="col-md-5">
                                                <div class="Ricie_text">
                                                    <h1 data-animation="animated bounceInLeft">
                                                        Đảm bảo <br /> vệ sinh
                                                    </h1>
                                                    <p data-animation="animated bounceInLeft">
                                                        Gạo của chung tôi đáp ứng được các tiêu chuẩn về an toàn thực phẩm và được sản xuất bằng phương pháp tự nhiên, không sử dụng chất bảo quản hoặc hóa chất độc hại.
                                                    </p>
                                                    <button class="btn btn-primary  read_more bounceInLeft" data-animation="animated bounceInLeft">Read More</button>
                                                    <button class="btn btn-primary  read_more bounceInLeft" data-animation="animated bounceInLeft">Get A Quote</button>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="coff_img">
                                                    <figure><img src="~/Content/images/Trang_Tri1/2.jpg" width="400" alt="#" /></figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- third slide-->
                                <div class="carousel-item">
                                    <div class="carousel-caption relative">
                                        <div class="row d_flex">
                                            <div class="col-md-5">
                                                <div class="Ricie_text">
                                                    <h1 data-animation="animated bounceInLeft">
                                                        Hương vị thơm ngon
                                                    </h1>
                                                    <p data-animation="animated bounceInLeft">
                                                        Gạo có chất lượng tốt, màu trắng sáng và hương vị đậm đà, độ dài hạt vừa phải, không bị nát và độ ẩm ổn định đảm bảo giữ được độ tươi trong quá trình sử dụng
                                                    </p>
                                                    <button class="btn btn-primary  read_more bounceInLeft" data-animation="animated bounceInLeft">Read More</button>
                                                    <button class="btn btn-primary  read_more bounceInLeft" data-animation="animated bounceInLeft">Get A Quote</button>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="coff_img">
                                                    <figure><img src="~/Content/images/Trang_Tri1/3.jpg" width="400" alt="#" /></figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- controls -->
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end banner -->
    <!-- about -->
    <div class="about">
        <div class="container">
            <div class="row d_flex grid">
                <div class="col-md-6">
                    <div class="about_img text_align_center">
                        <figure><img src="~/Content/images/Trang_Tri1/Logo1.png" width="350" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-6 order1">
                    <div class="titlepage text_align_left">
                        <h2>Giới thiệu về cửa hàng</h2>
                        <p>
                            Cửa hàng chúng tôi chuyên cung cấp các sản phẩm gạo chất lượng cao với nhiều loại hạt khác nhau để đáp ứng nhu cầu của khách hàng.
                            Tất cả các loại gạo của chúng tôi đều được lựa chọn kỹ lưỡng từ các trang trại nông nghiệp bền vững,
                            đảm bảo sử dụng phương pháp trồng trọt tự nhiên và không sử dụng chất bảo quản hay hóa chất độc hại.
                        </p>
                        <a class="read_more" href="/Home/About">Xem Thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
    <!-- service -->
    <div class="service">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>Các sản phẩm bán chạy</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!--  Demos -->
                    <div class="owl-carousel owl-theme">
                        <!-- Gạo 1-->
                        <div class="item">
                            <div class="service_box text_align_center">
                                <div class="ser_img">
                                    <figure><img src="~/Content/images/Trang_Tri1/G1.png" alt="#" /></figure>
                                </div>
                                <h3>Gạo Hạt Ngọc Trời Bạch Dương</h3>
                                <p>
                                    Gạo khi nấu cho cơm trắng dẻo, thơm dịu và ngọt nhẹ.
                                    Hạt gạo dẻo vừa và thơm lài, được nuôi trồng canh tác theo quy trình kĩ thuật hiện đại, đảm bảo an toàn và chất lượng cho người sử dụng.
                                    Mang đến bữa cơm ngon cho gia đình bạn.
                                </p>
                            </div>
                        </div>
                        <!-- Gạo 2-->
                        <div class="item">
                            <div class="service_box text_align_center">
                                <div class="ser_img">
                                    <figure><img src="~/Content/images/Trang_Tri1/G2.png" alt="#" /></figure>
                                </div>
                                <h3>Gạo Thơm Vua Gạo Đậm Đà </h3>
                                <p>
                                    Gạo sử dụng giống gạo từ Campuchia, cho hạt gạo dài, đều, đẹp mắt.
                                    Gạo hạt dài, dẻo vừa, thơm lừng, trắng đều.
                                    Gạo được canh tác trên vùng đất phù sa màu mỡ, mỗi năm chỉ có thu hoạch 1 vụ lúa nên đảm bảo chất lượng gạo sạch.
                                </p>
                            </div>
                        </div>
                        <!-- Gạo 3-->
                        <div class="item">
                            <div class="service_box text_align_center">
                                <div class="ser_img">
                                    <figure><img src="~/Content/images/Trang_Tri1/G3.png" alt="#" /></figure>
                                </div>
                                <h3>Gạo thơm Hạt Ngọc Trời Thiên Vương </h3>
                                <p>
                                    Gạo khi nấu vị dẻo, vị thơm đặc trưng sẽ kích thích vị giác giúp thưởng thức các món ăn khác tuyệt vời hơn.
                                    Gạo thơm Hạt Ngọc Trời Thiên Vương túi 5kg với hạt dài, thơm đặc trưng và nở ít tạo giác ăn ngon miệng,
                                    đảm bảo an toàn, không tẩy trắng, không chứa chất bảo quản.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read_more" href="service.html">Xem Thêm</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end service -->
    <!-- section blue_bg -->
    <div class="section blue_bg">
        <div class="container-fluid">
            <div class="row">
                <!-- contact -->
                <div class="col-lg-6 col-md-12">
                    <div class="contact">
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="titlepage text_align_center">
                                    <h2>Liên hệ</h2>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <form id="request" class="main_form">
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <input class="contactus" placeholder="Tên của bạn" type="type" name=" Name">
                                        </div>
                                        <div class="col-md-12">
                                            <input class="contactus" placeholder="Số điện thoại" type="type" name="Phone Number">
                                        </div>
                                        <div class="col-md-12">
                                            <input class="contactus" placeholder="Email" type="type" name="Email">
                                        </div>
                                        <div class="col-md-12">
                                            <textarea class="textarea" placeholder="Nội dung" type="type" Message="Name"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="send_btn">Gửi</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- contact -->
                <!-- testimonial section -->
                <div class="col-lg-6 col-md-12">
                    <div class="testimonial">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="titlepage text_align_left">
                                    <h2>Đánh giá sản phẩm</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                        <li data-target="#myCarousel" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="container">
                                                <div class="carousel-caption ">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="testimonial_box text_align_left">
                                                                <p>Tôi rất thích gạo này vì nó có vị ngọt tự nhiên và mềm mại khi nấu chín.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="testimonial_pro">
                                                                <figure><img src="~/Content/images/Trang_Tri1/K1.jpg" width="131" alt="#" /></figure>
                                                                <h3>Nguyễn Bá Nhật <br><span class="cust">Khách hàng</span></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="container">
                                                <div class="carousel-caption">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="testimonial_box text_align_left">
                                                                <p>Tôi đã nấu gạo này và rất thích cách nấu chín của nó. Hạt gạo không bị dính vào nhau và có vị thơm ngon đặc trưng.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="testimonial_pro">
                                                                <figure><img src="~/Content/images/Trang_Tri1/K2.jpg" width="130" alt="#" /></figure>
                                                                <h3>Huỳnh Thị Phương <br><span class="cust">Khách hàng</span></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="container">
                                                <div class="carousel-caption">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="testimonial_box text_align_left">
                                                                <p>Sản phẩm gạo này có hạt to và tròn, màu trắng sáng và hương vị đậm đà.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="testimonial_pro">
                                                                <figure><img src="~/Content/images/Trang_Tri1/k3.jpg" width="130" alt="#" /></figure>
                                                                <h3>Mark Jonson <br><span class="cust">Khách hàng</span></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="coff">
                                    <figure><img src="~/Content/images/Trang_Tri1/Logo2.png" alt="#" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end testimonial section -->
            </div>
        </div>
    </div>
    <!-- end section blue_bg -->
    <!--  footer -->


</body>
</html>